.DeliveryHint {
    font-size: 13px;
    color: #2d8b53;
    margin-bottom: 0;
}

.DeliveryHint-preorder {
    font-size: 13px;
    color: #ff6d0a;
}

.badge-special {
    display: inline-block;
    margin-left: -45px;
    padding: 4px 16px;
    border-radius: 4px;
    box-shadow: 0 4px 4px hsl(0deg 0% 69% / 50%);
    z-index: 10;
    animation: wobble 3s ease 5s 3;
}

@keyframes wobble {
  0% { transform: translateX(0%); }
  10% { transform: translateX(-10%); }
  20% { transform: translateX(15%); }
  30% { transform: translateX(-11%); }
  40% { transform: translateX(8%); }
  50% { transform: translateX(-6%); }
  55% { transform: translateX(0%); }
}

.Badge__Icon {
    position: relative;
    top: 1px;
    margin-right: 4px;
}

.Badge__Text {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
}

.icon--grayscale {
    filter: grayscale(1);
}

.list-payment-product-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -0.5rem 0;
    padding-top: 1rem;
    padding-left: 0;
}

@media screen and (min-width: 750px) {
  .list-payment-product-info {
      justify-content: space-between;
      margin: -0.5rem;
      padding-top: 0;
  }
}

