@media screen and (min-width: 750px) {
  .product__info-container {
      box-shadow: rgb(223 222 222) 0px 0px 6px 1px inset;
      background-color: rgba(233, 233, 233, 0.25);
      padding: 1em;
      margin: 0;
  }
}

.social_info_bar {
    display: inline-block;
    width: 100%;
    max-width: 60rem;
    padding: 0.5rem;
}

.product-form__buttons, .product-form__input .select {
    max-width: 59rem;
}

.VariantColor {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 14px;
    border: 1px solid #6a6a6a;
    background: var(--color);
}

.DeliveryHint {
    font-size: 13px;
    color: #2d8b53;
    margin-bottom: 0;
}

.DeliveryHint--preorder {
    color: #ff6d0a;
}

.brand_usps {
    margin-top: 2.5rem;
    margin-bottom: 0;
    margin-left: 1rem;
    border: 0;
}

.brand_usps summary {
    padding: 0;
}

.brand_usps__icon {
    align-self: center;
    height: calc(var(--font-heading-scale) * 3rem);
    margin-right: calc(var(--font-heading-scale) * 1rem);
    width: calc(var(--font-heading-scale) * 3rem);
}